<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ADMİN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header>
    <div id="head" class="container-fluid A">
        
        <div class="row ">
                <div id="ımg" class="col-1 mb  text text-center text text-white ">
                   <img  id="at"src="~/images/AT.png"/>
                   <div>SCITECH</div>
                </div>
                <div class="col-2">
                    <a class="bg-primary h-50 w-100 m-4 p-2 btn btn-block" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>            
                </div>
                <div class="col-2 ">
                    <a class="bg-primary h-50 w-100 m-4 p-2 btn btn-block" asp-area="" asp-controller="News" asp-action="News">NEWS</a>
                </div>
                <div class="col-2 ">
                    <a class="bg-primary h-50 w-100 m-4 p-2 btn btn-block" asp-area="" asp-controller="News" asp-action="News">USER</a>
                </div>
                <div class="col-2">
                    <a class="bg-primary h-50 w-100 m-4 p-2 btn btn-block" asp-area="" asp-controller="News" asp-action="News">ABOUT</a>
                </div>
                <div class="col-2">
                    <a class="bg-primary h-50 w-100 m-4 p-2 btn btn-block" asp-area="" asp-controller="News" asp-action="News">SIGN IN</a>
                </div>
            </div>
        </div>

    
        
</header>
            @RenderBody()

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - SCITECH - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                <div class="row">
                                    <div class="d-inline">
                                        <img id="maıl" src="~/images/mail.png" />
                                    </div>
                                    <div class="d-inline">
                                        <img id="insta" src="~/images/insta.png">
                                    </div>
                                    <div class="d-inline">
                                        <img id="git" src="~/images/git.png" />
                                    </div>
                                    <div class="d-inline">
                                        <img id="logo" src="~/images/real logo .png">
                                    </div>
                                </div>
    </div>
</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
